
.btn-sign-container
{
  margin:10px;
  padding:10px;
}

.btn-sign
{
  font-size: 26px;
  padding: 30px 60px;
  margin: 0px;
  width: 100%;
}

.input-response
{
      word-wrap: break-word;
}

.result-public-address
{
    word-wrap: break-word;
}


.result-challenge
{
    word-wrap: break-word;
}
